body {
  margin: 0;
  background: #0a0a0a;
  color: #ccc;
  font-family: sans-serif;
  overflow: hidden
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scroll-area {
  flex: 1;              /* Header 아래 공간 다 차지 */
  overflow-y: auto;    /* 여기만 스크롤 */
  justify-content: center;
}